h3 Welcome to Streambacker registration

h4 Sign up form

form(action="/register-form")
  div(layout-gt-sm="row")
    md-input-container(class="md-block" flex-gt-sm)
      label First Name
      input(ng-model="user.firstname")
    md-input-container(class="md-block" flex-gt-sm)
      label Last Name
      input(ng-model="user.lastname")
  md-input-container(class="md-block" flex-gt-sm)
    label Username
    input(ng-model="user.username")
  md-button(type="submit" class="md-raised md-primary") Register!

div(ui-view)
